form{
  button{
    margin-top: 10px;
  }
}

input,
textarea {
  padding: 10px 14px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: #4d4b4b;
  color: #ffffff;
  outline: none;
  box-shadow: inset 3px 3px 8px #3c3a3a, inset -3px -3px 8px #5e5c5c;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &:focus {
    background-color: #3c3a3a;
    color: #ffffff;
    box-shadow: inset 2px 2px 5px #2a2a2a, inset -2px -2px 5px #4f4f4f;
  }
}

input.invalid {
  background-color: #B56565; 
  transition: all 0.3s ease-in-out; 
}

button {
  border-radius: 10px;
  padding: 10px 14px;
  background-color: #4d4b4b;
  border: none;
  color: #98ff98;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: -5px -5px 20px #3c3a3a, 5px 5px 20px #3c3a3a;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #3c3a3a;
    box-shadow: -4px -4px 15px #2d2c2c, 4px 4px 15px #5e5c5c;
  }
  &:active {
    background-color: #4d4b4b;
    box-shadow: inset 2px 2px 5px #2a2a2a, inset -2px -2px 5px #4f4f4f;
    transform: scale(0.98);
  }
}

fieldset {
  padding: 12px;
  border: none;
  border-radius: 10px;
}

.fa-eye, .fa-eye-slash{
  margin-left: 10px;
  cursor: pointer;
  font-size: larger;
  transition: 0.2s ease-in-out;
}

.fa-eye:hover, .fa-eye-slash:hover{
  color: #ff9900;
  text-shadow: 0px 0px 12px #feb47b, 0 0 0em #feb47b, 0 0 0.2em #feb47b;
}

.eye-div{
  display: flex;
  align-items: center;
}

a{
  color: #ffffff;
  text-decoration: none;
  transition: 0.1s all ease-in-out;
  &:hover{
    color: #ff9900;
  }

  &:active{
    color: #a76502;
  }
}