.top-div {
  margin: 20px auto;
  width: 95vw;
  background-color: #1e1e2f;
  border-radius: 8px;
  padding: 20px;
  color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  li {
    list-style-type: none;
  }
}

.filter-tasks {
  display: flex;
  justify-content: space-around;
  background-color: #4a148c;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;

  li {
    list-style-type: none;
    color: #ffffff;
    font-weight: bold;
  }
}

.task-div{
  width: 100%;
  background-color: #2c2c3a;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fa-square-check,
.fa-check,
.pencil-done {
  color: #4caf50;
}

.fa-square-xmark,
.pencil-update {
  color: #f44336;
}

.fa-pencil,
.fa-trash {
  cursor: pointer;
}

.fa-pencil {
  color: #03a9f4;
}

.fa-trash {
  color: #d84315;
}

.task {
  word-break: break-word;
  border: 2px solid #3a3a4a;
  padding: 15px;
  border-radius: 8px;
  background-color: #2e2e3e;
  color: #e0e0e0;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21212e;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-option {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 10px;
  font-size: 30px;
}

.top-div:hover {
  background-color: #29293d;
}

.task:hover {
  background-color: #3a3a4f;
  border-color: #4caf50;
}