.top-div {
  margin: 0 auto;
  width: 80vw;
  background-color: black;
  .filter-tasks {
    display: flex;
    justify-content: space-around;
    background-color: purple;
    li {
      list-style-type: none;
    }
  }
}

.lists{
  display: grid;
  grid-template-columns: 2fr 2fr;

  li{
    list-style-type: none;
  }

  .checked-task, .unchecked-task{
    width: 100%;
  }

}

.fa-square-check,
.fa-check,
.pencil-done {
  color: rgb(0, 255, 0);
}

.fa-square-xmark,
.pencil-update {
  color: red;
}

.fa-pencil {
  cursor: pointer;
}

.task{
  word-break: break-all;
  border: white solid 2px;
  padding: 10px;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-trash{
  cursor: pointer;
  color: brown;
}

.task-option{
  display: flex;
  gap: 20px;
}